@font-face {
    font-family: open;
    font-style: normal;
    font-weight: 300;
    src:  url(fonts/open.woff2) format('woff2');
}
@font-face {
    font-family: petit;
    font-style: normal;
    font-weight: 300;
    src:  url(fonts/PetitFormalScript.woff2) format('woff2');
}
#cuerpo_git{
    border-left: 10px solid #1E75B3;
    border-right: 10px solid #1E75B3;
}
.block_uno{
    padding-top: 10px;
    padding-bottom: 40px;
}
#titul_p {
    color:#1E75B3;
    font-weight: normal;
    font-family: petit, serif;
    font-size: 42px;
}
#titul_p b{
    font-size: 45px;
    color: #999 !important;
}
 #titul_p b{
     -webkit-animation: text_bold 5s infinite alternate;
     animation: text_bold 5s infinite alternate;
 }
@-webkit-keyframes text_bold { from { color: #cc1b69;} to{ color:#1E75B3;} }
@keyframes text_bold { from { color: #cc1b69;} to{ color:#1E75B3;} }

#subt_p{
    color:#999;
    font-family: Helvetica, serif;
}

.block_dos{
    padding-top: 10px;
    font-family: Helvetica, serif;
    border-bottom: 1px dashed #ffffff;
    padding-bottom: 20px;
}
.block_dos:hover{
    border-bottom: 1px dashed #dadada;
}
.questions b{
    font-size: 28px;
    color: #cc1b69;
    opacity: 0.5;
}
.questions{
    color:#1E75B3;
    font-size: 20px;
}
.descrip, .span_descrip{ color: #585858 !important;}
.clave_text{ color: #cc1b69;}
.pre_descrip{ font-size: 12px !important; color: #cc1b69;}

.block_tres{
    padding-top: 50px;
}
.thanks{
    color: #cc1b69;
    font-family: Helvetica, serif;
    font-size: 18px;
}
.thanks b{
    color: #1E75B3;
    font-family: petit, serif;
    font-size: 20px;
}
.margin-top{
    margin-top: 5%;
}

.footer_git{
    margin-top: 50px;
    padding: 10px;
    border-top: 1px dashed #dadada;
}
.text_footer{
    font-size: 12px !important;
    color: #999;
    font-family: Helvetica, serif;
}



